@import "./../../constants";

.header-description {
  display: none;

  @media (min-width: map_get($MEDIA, SM)) {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
    margin-right: 100px;
  }

  @media (min-width: map_get($MEDIA, LG)) {
    margin-right: 120px;
  }

  &_portfolio{
    position: absolute;
    width: 100%;
    padding-right: 75px;
    margin-right:initial;
    z-index: 100;

    @media (min-width: map_get($MEDIA, SM)) {
      height: 100px;
      margin-right:initial;
      padding-right: 100px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      margin-right:initial;
      padding-right: 120px;
    }
  }

  &__text {
    font-family: 'PFBeauSansPro_Bold', serif;
    text-transform: uppercase;
    font-size: 11px;

    &_color_black {
      color: $BLACK;
      margin-right: .25rem;
    }

    &_color_white {
      color: $BLACK;
      margin-right: .25rem;

      @media (min-width: map_get($MEDIA, SM)) {
        color: $WHITE;
      }
    }

    &_color_red {
      color: $RED;
    }
  }
}