mixin technology()
    .technology(style=`background-image:url(${require("./../images/krasnogorka-bg-image.png")})`)
        .technology__wrapper
            .container
                +subtitle('Technologies used','right')
                +technologies()
