mixin portfolios(template,...list)
    .portfolios.container
        .portfolios__inner
            - for (var x = 0; x < list.length; x++)
                - var classAdded = ''
                - if (x > 8)
                    - classAdded = 'portfolio-card_added'
                .portfolios__item
                    +#{template}(classAdded,list[x])
        .portfolios__more
            .portfolios__show-more-plus +
            a.portfolios__show-more-button(href="#") show more