@import "./../constants";

.copyright {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &_margin_top {

    @media (min-width: map_get($MEDIA, SM)) {
      margin-top: 6rem;
    }

    @media (min-width: map_get($MEDIA, MD)) {
      margin-top: 2rem;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      margin-top: 0;
    }
  }

  &__content {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    line-height: 2.33;
    color: $BLACK;

    @media (min-width: map_get($MEDIA, SM)) {
      font-size: 12px;
    }
  }
}