@import "./../constants";

.copyright {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    line-height: 2.33;
    color: $BLACK;

    @media (min-width: map_get($MEDIA, SM)) {
      font-size: 12px;
    }
  }
}