@import "./../constants";

.swiper-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    content: "";
    position: relative;
    z-index: -1;
    bottom: 2px;
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: -1.5rem;
    max-width: initial;
    margin-right: -1.5rem;

    @media (min-width: map_get($MEDIA, SM)) {
      justify-content: center;
      margin-right: initial;
      margin-left: initial;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 300;


    &_active {
      position: relative;
      //background-color: $WHITE;
      //padding: 0 1rem 1rem;
      //font-weight: normal;

      &:before {
        position: absolute;
        //content: "";
        width: calc(100% - 2rem);
        height: 3px;
        border-radius: 2px;
        background-color: #e70606;
        bottom: 0;

        @media (min-width: map_get($MEDIA, MD)) {
          width: calc(100% - 5rem);
        }

        @media (min-width: map_get($MEDIA, LG)) {
          width: calc(100% - 6rem);
        }
      }
    }

    @media (min-width: map_get($MEDIA, SM)) {
      padding: 0 1rem 1rem;
    }

    @media (min-width: map_get($MEDIA, MD)) {
      padding: 0 2.5rem 1rem;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      padding: 0 3rem 1rem;
    }
  }

  &__underline {
    position: relative;

    &_span {
      position: absolute;
      height: 3px;
      width: 0;
      border-radius: 2px;
      background-color: $WHITE;
      bottom: 0;
      //transition: all .4s ease-out;

      &:after {
        position: absolute;
        content: '';
        width: calc(100% - 48px);
        left: 24px;
        height: 100%;
        background-color: #e70606;
      }
    }
  }

  &__link {
    color: #4a4a4a;

    &:hover {
      color: #e70606;
      transition: all .6s ease;
    }
  }
}