mixin video()
    .video
        .video__container
            video(src=require("./../video/3.mp4"), muted, loop, autoplay, width="100%", height="auto")
        .video__content
            img.video__img_logo(src=require("./../images/main-logo.png"), alt="logo")