//Colors:
$BLACK: #000;
$DARK-GRAY: #4A4A4A;
$GRAY: #626262;
$MIDDLE-GRAY: #9b9b9b;
$LIGHT-GRAY: #e2e2e2;
$RED: #E30613;
$DARK-RED: #bf0612;
$GREEN: #02b400;
$WHITE: #fff;

$MAX-WIDTH-LG: 1200px;
$MAX-WIDTH-HD: 1728px;

$MEDIA: (
        SM:768px,
        MD:1024px,
        LG:1280px,
        HD:1920px,
        XHD:2560px
);

@mixin review-text ($size){
  color: $DARK-GRAY;
  font-size: $size;
}