.header
    a(class='header__logo' href='#')
        img.header__img_logo(src=require("./../../images/logo.png"))
    .header__title
        span.header__text.header__text_color_black what
        span.header__text.header__text_color_red we do
    a(class='header__burger' href='#')
        img.header__img_burger(src=require("./../../images/burger.png"))