mixin paragraph(title)
    .paragraph
        .container
            .paragraph__inner(style={color: '#fff'})
                .paragraph__title= title
                ul.paragraph__list
                    li.paragraph__item Lorem ipsum dolor sit amet,
                    li.paragraph__item Lorem ipsum dolor sit amet,
                    li.paragraph__item Lorem ipsum dolor sit amet,
                    li.paragraph__item Lorem ipsum dolor sit amet,

