mixin clients(template,...list)
    .clients.container
        .clients__inner
            - for (var x = 0; x < list.length; x++)
                - var classAdded = ''
                - if (x > 14)
                    - classAdded = 'client-card_added'
                .clients__item
                    +#{template}(classAdded,list[x])
        .clients__more
            .clients__show-more-plus +
            a.clients__show-more-button(href="#") show more