@import "./../constants";

.partners {

  @media (min-width: map_get($MEDIA, SM)) {
    margin-top: 9rem;
  }

  @media (min-width: map_get($MEDIA, MD)) {
    margin-top: 6rem;
  }

  @media (min-width: map_get($MEDIA, LG)) {
    margin-top: 3rem;
  }

  &__logo {
    max-height: 70px;
    opacity: 0.5;
    color: #fff;
    transition: all .3s ;
    filter: grayscale(1);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  &__container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__wrapper {
    align-items: center;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
