.tiser.tiser_theme_mastak
    .tiser__logo.tiser__logo_size_small
        a.tiser__link(href="/")
            img.tiser__logo-img(src=require("./../../images/MastakAnime-BW.gif"), alt="mastakstudio")
        a.tiser__email.tiser__email_after-logo(href="mailto:info@mastakstudio.com") info@mastakstudio.com
    .tiser__content
        h1.tiser__title.tiser__title_center we’re coming soon…
        p.tiser__description.tiser__description_center The website is under construction. We’ll be here soon with our new awesome site, subscribe to be notified.
        form.tiser__form.tiser__form_main
            .tiser__form-wrapper.tiser__form-wrapper_main
                input.tiser__email.tiser__email_main(type="email", placeholder="Enter your e-mail…", name="email")
                input.tiser__submit.tiser__submit_main(type="submit", value="Subscribe")
        a.tiser__download-price.tiser__download-price_red(href="#")
            img.tiser__download-icon(src=require("./../../images/download.svg"), alt="download")
            span.tiser__download-description.tiser__download-description_text Download presentation about us
    img.tiser__footer-image.tiser__footer-image_bottom(src=require("./../../images/portfolio-xl.png"))
    img.tiser__shadow.tiser__shadow_right-top(src=require("./../../images/showdow-logo-lg.png"))