@import "./../constants";

.tiser {

    &_theme_mastak {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url("./../../images/bg.png") no-repeat 25% 100%;
        background-size: cover;
        position: relative;
        overflow: hidden;

        @media (min-width: map_get($MEDIA, SM)) {
            background-position: 50% 100%;
        }
    }

    &__logo {

        &_size_small {

            width: 180px;
            margin-top: 2.25rem;
            text-align: center;

            @media (min-width: map_get($MEDIA, SM)) {
                width: 250px;
                margin-top: 5.75rem;
            }
        }
    }

    &__email {

        &_after-logo {
            color: $BLACK;
            font-size: 13px;
            display: inline-block;
            padding-top: 1rem;
            transition: all .4s;

            &:hover {
                color: $RED;
            }

            @media (min-width: map_get($MEDIA, SM)) {
                padding-top: 1.5rem;
            }
        }
    }

    &__shadow {
        &_right-top {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;

            @media (min-width: map_get($MEDIA, SM)) {
                width: 40%;
            }

            @media (min-width: map_get($MEDIA, MD)) {
                width: 40%;
            }

            @media (min-width: map_get($MEDIA, LG)) {
                width: 33%;
            }
        }
    }

    &__title {

        &_center {
            text-align: center;
            text-transform: uppercase;
            color: $GRAY;
            font-weight: 600;
            font-size: 25px;

            @media (min-width: map_get($MEDIA, SM)) {
                font-size: 30px;
            }
        }
    }

    &__description {

        &_center {
            color: $GRAY;
            font-size: 14px;
            text-align: center;
            margin: 1rem 1rem 1.25rem;

            @media (min-width: map_get($MEDIA, SM)) {
                font-size: 18px;
                max-width: 560px;
            }
        }
    }

    &__form {

        &_main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 1rem;
            @media (min-width: map_get($MEDIA, SM)) {
                flex-direction: row;
            }
        }
    }

    &__email {
        &_main {
            padding: .7rem 1rem;
            text-align: center;
            border-radius: 6px;
            box-shadow: 3px 3px 7px rgba($BLACK, .1);
            color: $GRAY;
            font-size: 16px;
            border: none;
            margin-bottom: 1rem;

            @media (min-width: map_get($MEDIA, SM)) {
                margin-bottom: 0;
                margin-right: 1.25rem;
                min-width: 280px;
            }
        }
    }

    &__submit {
        &_main {
            padding: .7rem 1rem;
            font-size: 16px;
            color: $WHITE;
            background-color: $RED;
            border-radius: 6px;
            text-align: center;
            cursor: pointer;
            transition: background-color .4s;

            &:hover{
                background-color: $DARK-RED;
            }

            @media (min-width: map_get($MEDIA, SM)) {
                min-width: 140px;
            }
        }
    }

    &__download-price {
        &_red {
            text-align: center;
            display: block;
            margin-top: 2rem;


            &:hover .tiser__download-description_text {
                color: $RED;
            }

            @media (min-width: map_get($MEDIA, SM)) {
                margin-top: 120px;
            }

            @media (min-width: map_get($MEDIA, MD)) {
                margin-top: 52px;
            }
        }
    }

    &__download-description {

        &_text {
            color: $GRAY;
            margin-left: .5rem;
            transition: all .4s;
        }
    }

    &__footer-image {
        &_bottom {
            max-height: 230px;
            height: 80px;
            max-width: initial;

            @media (min-width: map_get($MEDIA, SM)) {
                height: initial;
                max-width: 100%;
            }
        }
    }
}