include ./components/header/header
include ./components/header-type2/header-type2
include ./components/header-description/header-description
include ./components/client-card/client-card
include ./components/clients/clients
include components/main-swiper/main-swiper
include ./components/mastak-title/mastak-title
include ./components/menu-projects/menu-projects
include ./components/menu-type2/menu-type2
include ./components/partners/partners
include ./components/portfolio-header/portfolio-header
include ./components/portfolio/portfolio
include ./components/portfolio-card/portfolio-card
include ./components/portfolio-image-slide/portfolio-image-slide
include ./components/portfolio-menu-slide/portfolio-menu-slide
include ./components/portfolios/portfolios
include ./components/page404/page404
include ./components/reviews/reviews
include ./components/reviews_content/reviews_content
include ./components/reviews_swiper/reviews_swiper
include ./components/services/services
include ./components/tiser/tiser
include ./components/video/video
include ./components/copyright/copyright
include ./components/menu/menu
include ./components/menu-list/menu-list
include ./components/menu-info-socials/menu-info-socials
include ./components/welcome/welcome
include ./components/paragraph/paragraph
include ./components/subtitle/subtitle
include ./components/sections/sections
include ./components/technologies/technologies