@import "../../constants";

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 56px;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: map_get($MEDIA, SM)) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    height: 100px;
  }

  @media (min-width: map_get($MEDIA, LG)) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem 0;
    height: 40px;
    width: 40px;
  }

  &__img {

    &_logo {
      width: 75px;

      @media (min-width: map_get($MEDIA, SM)) {
        width: 100px;
      }
    }
  }

  &__line-burger {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: $WHITE;

    &_black {
      background-color: $BLACK;
    }
  }
}