
mixin header(isWhiteBurger)
    .header
        a(class='header__logo' href='#')
            img.header__img_logo(src=require("./../images/logo.png"))
        a(class='header__burger' href='#')
            span.header__line-burger
            span.header__line-burger