@import "./../constants";

.swiper-menu {
  background-color: $LIGHT-GRAY;

  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: -1.5rem;
    max-width: initial;
    margin-right: -1.5rem;

    @media (min-width: map_get($MEDIA, SM)) {
      justify-content: center;
      margin-right: initial;
      margin-left: initial;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
    
    &_active {
      position: relative;
      background-color: $WHITE;
      padding: 1rem;
      font-weight: normal;
    }

    @media (min-width: map_get($MEDIA, MD)) {
      padding: 1rem 2.5rem;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      padding: 1rem 3rem;
    }
  }

  &__link {
    color: #4a4a4a;

    &_active {
      color: #e70606;
      font-weight: 400;
    }

    &:hover {
      color: #e70606;
      transition: all .6s ease;
    }
  }
}