.reviews-content
    .reviews-content__swiper
        .swiper-container.reviews-content__container
            .swiper-wrapper.reviews-content__wrapper
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text I really enjoyed the experience. The course was professionally run, very informative, interactive and fun. The learning centered on good technique and client safety which is vitally important for the professional standing of the trainer and the fitness industry in general. The creation and practice of specific but simple drills to help clients gain greater levels of fitness was terrific as it will assist the trainer to practically implement this new skill immediately.
                    .reviews-content__name edik
                    .reviews-content__address minsk
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text edik2
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text edik3
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text edik4
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text edik5
                .swiper-slide.reviews-content__slide
                    span.reviews-content__text edik6