@import "./../constants";

.client-card {
  display: flex;
  align-items: center;
  background-position: center center;
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 2.75rem;

  @media (min-width: map_get($MEDIA, SM)) {
    margin-bottom: 1.5rem;
  }

  @media (min-width: map_get($MEDIA, MD)) {
    margin-bottom: 2.25rem;
  }

  @media (min-width: map_get($MEDIA, LG)) {
    height: 300px;
    margin-bottom: 5rem;
  }

  &:hover {
    box-shadow: 0 0 1px 1px rgba(98, 98, 98, .2);

    .client-card__background-color {
      opacity: 1;
      background-color: $WHITE;
    }

    .client-card__icon {
      transform: scale(1.2);
    }

    .client-card__text {
      opacity: 1;
      bottom: 1rem;

      @media (min-width: map_get($MEDIA, SM)) {
        bottom: 1.25rem;
      }

      @media (min-width: map_get($MEDIA, SM)) {
        bottom: 1rem;
      }

      @media (min-width: map_get($MEDIA, LG)) {
        bottom: 2rem;
      }
    }
  }

  &_added {
    display: none;
  }

  &__background-color {
    width: 100%;
    height: 100%;
    background-color: $LIGHT-GRAY;
    opacity: 0.7;
    transition: .4s ease-in-out;
  }

  &__icon {
    width: 100px;
    position: absolute;
    transition: .4s ease-in-out;

    @media (min-width: map_get($MEDIA, MD)) {
      width: 120px;
    }
  }

  &__text {
    position: absolute;
    color: $DARK-GRAY;
    font: {
      size: 18px;
      family: "Open Sans", sans-serif;
      weight: normal;
    }
    line-height: 0.83;
    bottom: -1rem;
    opacity: 0;
    transition: .4s ease-in-out;

    @media (min-width: map_get($MEDIA, LG)) {
      font-size: 24px;
    }

    &:after {
      margin-left: .5rem;
      content: '\2192';
      width: 22px;
      color: $DARK-GRAY;
    }
  }
}