include ./../mixins
include ./../components/head
body
    +headerType2('our','clients','container')
    div(data-active-menu=0)
    +swiper('menu',
    "Our clients",
    "Reviews about us"
    )
    +clients('clientCard',{
        url_img: require("./../images/mtb-bg@3x.png"),
        href: "#",
        url_icon: require("./../images/mtb.png")
    },{
        href: "#",
        url_img: require("./../images/alfa-bg@3x.png"),
        url_icon: require("./../images/alfa.png")
    },{
        href: "#",
        url_img: require("./../images/krasnogorka-bg@3x.png"),
        url_icon: require("./../images/krasnogorka-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/brutto-bg@3x.png"),
        url_icon: require("./../images/hvilina@3x.png")
    },{
        href: "#",
        url_img: require("./../images/achosa-bg@3x.png"),
        url_icon: require("./../images/achosa-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/6-tastes-bg@3x.png"),
        url_icon: require("./../images/6-tastes-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/prosushi-bg@3x.png"),
        url_icon: require("./../images/prosushi-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/tm-bg@3x.png"),
        url_icon: require("./../images/tm-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/mobile-bg@3x.png"),
        url_icon: require("./../images/mobile-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/spivakov-bg@3x.png"),
        url_icon: require("./../images/spivakov-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/secret-discounter-bg@3x.png"),
        url_icon: require("./../images/secret-discounter-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/port-europa-bg@3x.png"),
        url_icon: require("./../images/port-europa-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/hvilina-bg@3x.png"),
        url_icon: require("./../images/hvilina-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/agroinfo-bg@3x.png"),
        url_icon: require("./../images/agroinfo-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/agroinfo-catalog-bg@3x.png"),
        url_icon: require("./../images/logo-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/port-europa-bg@3x.png"),
        url_icon: require("./../images/port-europa-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/hvilina-bg@3x.png"),
        url_icon: require("./../images/hvilina-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/agroinfo-bg@3x.png"),
        url_icon: require("./../images/agroinfo-icon@3x.png")
    },{
        href: "#",
        url_img: require("./../images/agroinfo-catalog-bg@3x.png"),
        url_icon: require("./../images/logo-icon@3x.png")
    }
    )
    +copyright('Copyright 2019 © All Rights Reserved.')