include ./../mixins
include ./../components/head
body(style={background: '#4e4e4e'})
    +welcome()
    +paragraph('что хотел заказчик:')
    +paragraph('цели проекта:')
    +sections()
    +copyright('Copyright 2019 © All Rights Reserved.')