include ./../mixins
include ./../components/head
body
    +headerType2('our','potrfolio','container')
    div(data-active-menu=2)
    +swiper('menu',
    "All projects",
    "Web developing",
    "Mobile developing",
    "UX / UI design",
    "Branding"
    )
    +portfolios('portfolioCard',{
        href: '#',
        img_url: require("./../images/molotok-2@3x.png"),
        title: 'Molotok',
        subtitle: 'Promo site for MTBank'
    },
    {
        href: '#',
        img_url: require("./../images/re-box@3x.png"),
        title: 'ReBOX',
        subtitle: 'Service for order delivery products'
    },
    {
        href: '#',
        img_url: require("./../images/krasnogorka@3x.png"),
        title: 'Krasnogorka',
        subtitle: 'Web-site for rent houses'
    },
    {
        href: '#',
        img_url: require("./../images/brutto@3x.png"),
        title: 'Brutto watch',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/achosa@3x.png"),
        title: 'Achosa',
        subtitle: 'Women\'s clothing catalog'
    },
    {
        href: '#',
        img_url: require("./../images/6-tastes@3x.png"),
        title: '6 tastes',
        subtitle: 'Free food delivery web-catalog'
    },
    {
        href: '#',
        img_url: require("./../images/pro-sushi@3x.png"),
        title: 'ProSushi',
        subtitle: 'Сacheback service'
    },
    {
        href: '#',
        img_url: require("./../images/tm-images@3x.png"),
        title: 'TM site',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/mobiles@3x.png"),
        title: 'Mobiles.by',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/spivakov@3x.png"),
        title: 'Spivakov',
        subtitle: 'Promo site of festival'
    },
    {
        href: '#',
        img_url: require("./../images/secret-discounter@3x.png"),
        title: 'SecretDiscounter',
        subtitle: 'Сacheback service'
    },
    {
        href: '#',
        img_url: require("./../images/port-europa@3x.png"),
        title: 'Port Europa',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/vier-nik-1588@3x.png"),
        title: 'Vieršnik 1588',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/agroinfo@3x.png"),
        title: 'Agroinfo',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/nasty-cat-app@3x.png"),
        title: 'NastyCat - App',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/ortho-line-app@3x.png"),
        title: 'OrthoLine - App',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/6-tastes-app@3x.png"),
        title: '6 tastes - App',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/agroinfo-catalog@3x.png"),
        title: 'Agroinfo Catalog',
        subtitle: 'Brandbook for logistic company'
    }
    )
    +copyright('Copyright 2018 © All Rights Reserved.')