include ./../components/mixins/mixins
include ./../components/head
body
    +potrfolioHeader('our','potrfolio')
    div(data-active-menu=1)
    +swiper('menu',
    "All projects",
    "Web developing",
    "Mobile developing",
    "UX / UI design",
    "Branding"
    )
    +portfolios('portfolioCard',{
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Molotok',
        subtitle: 'Promo site for MTBank'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'ReBOX',
        subtitle: 'Service for order delivery products'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Krasnogorka',
        subtitle: 'Web-site for rent houses'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Brutto watch',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Achosa',
        subtitle: 'Women\'s clothing catalog'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: '6 tastes',
        subtitle: 'Free food delivery web-catalog'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'ProSushi',
        subtitle: 'Сacheback service'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'TM site',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Mobiles.by',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Spivakov',
        subtitle: 'Promo site of festival'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'SecretDiscounter',
        subtitle: 'Сacheback service'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Port Europa',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Vieršnik 1588',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Agroinfo',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'NastyCat - App',
        subtitle: 'Brandbook for logistic company'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'OrthoLine - App',
        subtitle: 'Promo site of watches'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: '6 tastes - App',
        subtitle: 'Web-site for tourist services'
    },
    {
        href: '#',
        img_url: require("./../images/logo.png"),
        title: 'Agroinfo Catalog',
        subtitle: 'Brandbook for logistic company'
    }
    )
    //include ./../components/portfolios/portfolios
    include ./../components/copyright/copyright