include ./../components/mixins/mixins
include ./../components/head
body
    +headerType2('our','potrfolio')
    div(data-active-menu=1)
    +swiperType2('menu',
    "All projects",
    "Web developing",
    "Mobile developing",
    "UX / UI design",
    "Branding"
    )
    include ./../components/portfolios/portfolios
    include ./../components/copyright/copyright