include ./../mixins
include ./../components/head
body
    +headerType2('what','we do','container')
    +mastakTitle('Development process','from idea to launch')
    +copyright('Copyright 2018 © All Rights Reserved.')