@import "./../constants";

.sections {

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 0;

    @media (min-width: map-get($MEDIA, SM)) {
      padding-top: 3rem;
      padding-bottom: 0;
      margin-top: 0;
    }
  }

  &__bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  &__image {
    width: 100%;
  }
}