@import "./../constants";

.sections {

  &__item {

    position: relative;
    overflow: hidden;
  }

  &__wrapper {

    top: 0;
    width: 100%;
    padding: 1rem 0;
    margin-top: -13rem;

    @media (min-width: map-get($MEDIA, SM)) {
      padding-top: 3rem;
      padding-bottom: 0;
      position: absolute;
      margin-top: 0;
    }
  }

  &__image {
    width: 100%;
  }
}