mixin mainSwiper()
    .main-swiper
        .swiper-container.main-swiper__container
            .swiper-wrapper.main-swiper__wrapper
                .swiper-slide.main-swiper__slide
                    +video()
                .swiper-slide.main-swiper__slide
                    +portfolio()
                .swiper-slide.main-swiper__slide
                    +services()
                .swiper-slide.main-swiper__slide.main-swiper__slide_background-image_last
                    +reviews()
                    +partners()
                    +copyright('Copyright 2018 © All Rights Reserved.','copyright_margin_top')