@import "./../constants";

$FOOTER_HEIGHT: 100px;

.portfolio-card {
  height: 500px;
  display: block;

  @media (min-width: map_get($MEDIA, MD)) {
    height: 600px;
    margin-bottom: 1.5rem;
  }

  @media (min-width: map_get($MEDIA, LG)) {
    height: 700px;
  }

  &_added{
    display: none;
  }

  &__parallax-block {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - #{$FOOTER_HEIGHT});
    overflow: hidden;
    transition: .4s ease-in-out;

    &:hover {
      transform: scale(1.025);
    }
  }

  &__img {
    max-width: 100%;
    position: absolute;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    height: $FOOTER_HEIGHT;
    padding-top: 1rem;
  }

  &__title {
    font-size: 19px;
    font-weight: bold;
    color: #626262;
    transition: all .4s ease-in-out;

    @media (min-width: map_get($MEDIA, MD)) {
      font-size: 25px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      font-size: 28px;
    }

    &:hover {
      color: #e70606;
    }

  }

  &__subtitle {
    font-size: 14px;
    color: #626262;

    @media (min-width: map_get($MEDIA, MD)) {
      font-size: 18px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
      font-size: 20px;
      width: 289px;
    }
  }
}