.main-swiper
    .swiper-container.main-swiper__container
        .swiper-wrapper.main-swiper__wrapper
            .swiper-slide.main-swiper__slide
                include ./../video/video
            .swiper-slide.main-swiper__slide
                include ./../portfolio/portfolio
            .swiper-slide.main-swiper__slide
                include ./../services/services
            .swiper-slide.main-swiper__slide.main-swiper__slide_background-image_last
                include ./../reviews/reviews
                include ./../partners/partners
                include ./../copyright/copyright