nav.menu
    h3.menu__title menu
    ul.menu__list
        +menu_list_li(
            2,
            "our portfolio",
            "what we do",
            "reviews about us",
            "our clients"
        )
