@import "./../constants";

.subtitle {
  overflow: hidden;
  height: 100%;
  padding-top: 5rem;

  @media (min-width: map-get($MEDIA, LG)) {
    padding-top: 10rem;
  }

  &__text {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    width: 100%;
    line-height: 1.05;

    @media (min-width: map-get($MEDIA, SM)) {
      font-size: 60px;
    }

    @media (min-width: map-get($MEDIA, MD)) {
      font-size: 74px;
    }

    @media (min-width: map-get($MEDIA, LG)) {
      font-size: 80px;
    }

    &:before {
      white-space: nowrap;
      position: absolute;
      content: attr(data-text);
      color: #fff;
      font-size: 60px;
      font-weight: 700;
      line-height: 0.77;
      opacity: .1;
      max-width: initial;

      @media (min-width: map-get($MEDIA, SM)) {
        font-size: 90px;
        top: -20px;
      }

      @media (min-width: map-get($MEDIA, MD)) {
        font-size: 120px;
      }

      @media (min-width: map-get($MEDIA, LG)) {
        font-size: 140px;
      }
    }

    &_position_right {
      text-align: right;

      &:before {
        right: -10%;

        @media (min-width: map-get($MEDIA, SM)) {
          right: -20%;
        }

        @media (min-width: map-get($MEDIA, MD)) {
          right: -24%;
        }
      }
    }

    &_position_left {
      text-align: left;

      &:before {
        left: -10%;

        @media (min-width: map-get($MEDIA, SM)) {
          left: -8%;
        }

        @media (min-width: map-get($MEDIA, MD)) {
          left: -6%;
        }
      }
    }
  }
}

